:host {
  .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .cart {
      flex: 1 0 33%;
      max-width: 33%;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
